header {
    background: #a0a06e;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

main p {
    font-size: 17px;
    color: rgb(20, 20, 20);
}

footer p {
    font-size: 20px;
}

footer {
    background: #777e7a;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}